.title__aboutUs{
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
}

.text__aboutUs{
  line-height: 2;
}

@media(min-width:768px){
  .title__aboutUs{
    padding: 30px 0 20px;
  }
}


