.box__img--aboutUs{
  width: 90vw;
  height: 40vh;
  background: url("/assets/img/index/historia.jpg") no-repeat center/ contain;
}

@media(min-width:1024px){
.box__img--aboutUs{
  width: 350vw;
  height: 350px;
}
}