.box__content{
  margin-bottom: 40px;
  padding: 5px;
  background-color: rgb(235, 219, 198); 
}


@media(min-width:1024px){
.box__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;
  padding: 20px;
  background-color: rgb(235, 219, 198); 
}

.row__reverse{
  display: flex;
  flex-direction: row-reverse;
} 

}