  .btn__foodMenu, .btn__menu--button{
  width: 150px;
  height: 45px;
  border: none;
  background-color:var(--colorRed);
  border-radius: 10px;
}

.btn__foodMenu:hover{
  background-color:var(--colorLightRed);
}

.link__foodMenu,.btn__menu-link{
  color: var(--colorGray);
  font-size: 1rem;
  text-transform: uppercase;
}

.btn__menu{
  display: flex;
  justify-content: space-around;
}



