.box__content--img{
  width: 100%;
  height: 400px;
}

.content_img01{
  background: url(/assets/img/burgues/burguer_4.jpeg)no-repeat center / cover;
}
.content_img02{
  background: url(/assets/img/sides/sides_2.jpg)no-repeat center / cover;
}
.content_img03{
  background: url(/assets/img/milkshake/milkshake_4.jpg)no-repeat center / cover;
}
.content_img04{
  background: url(/assets/img/dessert/dessert_3.jpg)no-repeat center / cover;
}
.content_img05{
  background: url(/assets/img/drinks/drink_3.jpg)no-repeat center / cover;
}

/*burguer*/

.content_img06{
  background: url(/assets/img/burgues/burguer_1.jpeg)no-repeat center / cover;
}
.content_img07{
  background: url(/assets/img/burgues/burguer_2.jpeg)no-repeat center / cover;
}
.content_img08{
  background: url(/assets/img/burgues/burguer_3.jpeg)no-repeat center / cover;
}
.content_img09{
  background: url(/assets/img/burgues/burguer_4.jpeg)no-repeat center / cover;
}
.content_img010{
  background: url(/assets/img/burgues/burguer_5.jpeg)no-repeat center / cover;
}


/**/


.content_img011{
  background: url(/assets/img/sides/sides_1.jpg)no-repeat center / cover;
}
.content_img012{
  background: url(/assets/img/sides/sides_2.jpg)no-repeat center / cover;
}
.content_img013{
  background: url(/assets/img/sides/sides_3.jpg)no-repeat center / cover;
}

/**/


.content_img014{
  background: url(/assets/img/milkshake/milkshake_1.jpeg)no-repeat center / cover;
}
.content_img015{
  background: url(/assets/img/milkshake/milkshake_2.jpg)no-repeat center / cover;
}
.content_img016{
  background: url(/assets/img/milkshake/milkshake_3.jpg)no-repeat center / cover;
}

.content_img017{
  background: url(/assets/img/milkshake/milkshake_4.jpg)no-repeat center / cover;
}


/**/
.content_img018{
  background: url(/assets/img/dessert/dessert_1.jpg)no-repeat center / cover;
}
.content_img019{
  background: url(/assets/img/dessert/dessert_2.jpg)no-repeat center / cover;
}

.content_img020{
  background: url(/assets/img/dessert/dessert_3.jpg)no-repeat center / cover;
}


/**/
.content_img021{
  background: url(/assets/img/drinks/drink_1.jpg)no-repeat center / cover;
}
.content_img022{
  background: url(/assets/img/drinks/drink_2.jpg)no-repeat center / cover;
}
.content_img023{
  background: url(/assets/img/drinks/drink_3.jpg)no-repeat center / cover;
}
.content_img024{
  background: url(/assets/img/drinks/drink_4.jpg)no-repeat center / cover;
}



@media(min-width:1024px){
  .box__content--img{
    width: 400px;
    height: 300px;
  }
}




