.box__content{
  margin-bottom: 40px;
  background-color: rgb(235, 219, 198); 
}
@media(min-width:768px){
  .box__content{
  padding-bottom: 15px;
  }
}

@media(min-width:1024px){
.box__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding:0;
  background-color: rgb(235, 219, 198); 
}

.row__reverse{
  display: flex;
  flex-direction: row-reverse;
} 

}