.section__contact{
  padding: 10px;
  background-color: black;
}

.more__information{
  padding: 10px 0;
}

@media(min-width:768px){
  .more__information{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;

  background-color: var(--colorBlack);
  
  padding: 30px 0;

}


}


