.btn__showMenu{
  width: 200px;
  height: 45px;
  border: none;
  background-color:var(--colorRed);
  border-radius: 10px;
}

.btn__showMenu:hover{
  background-color:var(--colorLightRed);

}

.link__showMenu{
  color: var(--colorGray);
  font-size: 1rem;
  text-transform: uppercase;
}

