.menu__navbar{
  display: flex;
  gap: 10px;
}

.menu__link{
  color: var(--colorGray);
  font-size: 1.2rem;
  display: none;
}

.menu__link:hover{
  color:var(--colorYellow);
}

.material-symbols-outlined{
  color: var(--colorGray);

}

@media(min-width:1024px){

  .material-symbols-outlined{
    visibility: hidden;
  }

  .menu__link{
    display: block;
  }
}


