.header{
  background-color: var(--colorDarkBlack);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

@media(min-width:1024px){
  .header{
    justify-content: space-around;
  }
}


