.main__nav{
  display: flex;
  gap: 10px;
}

.link__nav{
  color: var(--colorGray);
  font-size: 1.2rem;
  display: none;
  transition: all 0.5s ease-in-out;
}

.link__nav:hover{
  color:var(--colorYellow);
}

.burguer{
  color: var(--colorGray);

}

@media(min-width:1024px){

  .menu__nav{
    display: flex;
    gap: 20px;
  }

  .burguer{
    visibility: hidden;
  }

  .link__nav{
    display: block;
  }
}


