.box__footer--text{
  padding: 0 30px;
  text-align: left;
}

.title__footer{
  color: var(--colorYellow);
  font-size: 1rem;
  text-transform: uppercase;
  margin: 10px 0;
  text-align: center;
}

.text__footer{
  color: var(--colorGray);
  padding: 10px 0;
}

@media(min-width:756px){
  .box__footer--text{
    width: 30%;
  }
  .title__footer{
    margin: 10px;
  }

}
