.content_img018{
  background: url(/assets/img/dessert/dessert_1.jpg)no-repeat center / cover;
}
.content_img019{
  background: url(/assets/img/dessert/dessert_2.jpg)no-repeat center / cover;
}

.content_img020{
  background: url(/assets/img/dessert/dessert_3.jpg)no-repeat center / cover;
}
