.content_img06{
  background: url(/assets/img/burgues/burguer_1.jpeg)no-repeat center / cover;
}
.content_img07{
  background: url(/assets/img/burgues/burguer_2.jpeg)no-repeat center / cover;
}
.content_img08{
  background: url(/assets/img/burgues/burguer_3.jpeg)no-repeat center / cover;
}
.content_img09{
  background: url(/assets/img/burgues/burguer_4.jpeg)no-repeat center / cover;
}
.content_img010{
  background: url(/assets/img/burgues/burguer_5.jpeg)no-repeat center / cover;
}