.content_img021{
  background: url(/assets/img/drinks/drink_1.jpg)no-repeat center / cover;
}
.content_img022{
  background: url(/assets/img/drinks/drink_2.jpg)no-repeat center / cover;
}
.content_img023{
  background: url(/assets/img/drinks/drink_3.jpg)no-repeat center / cover;
}
.content_img024{
  background: url(/assets/img/drinks/drink_4.jpg)no-repeat center / cover;
}