.content_img01{
  background: url(/assets/img/burgues/burguer_4.jpeg)no-repeat center / cover;
}
.content_img02{
  background: url(/assets/img/sides/sides_2.jpg)no-repeat center / cover;
}
.content_img03{
  background: url(/assets/img/milkshake/milkshake_4.jpg)no-repeat center / cover;
}
.content_img04{
  background: url(/assets/img/dessert/dessert_3.jpg)no-repeat center / cover;
}
.content_img05{
  background: url(/assets/img/drinks/drink_3.jpg)no-repeat center / cover;
}





