.content_img011{
  background: url(/assets/img/sides/sides_1.jpg)no-repeat center / cover;
}
.content_img012{
  background: url(/assets/img/sides/sides_2.jpg)no-repeat center / cover;
}
.content_img013{
  background: url(/assets/img/sides/sides_3.jpg)no-repeat center / cover;
}