.content_img014{
  background: url(/assets/img/milkshake/milkshake_1.jpeg)no-repeat center / cover;
}
.content_img015{
  background: url(/assets/img/milkshake/milkshake_2.jpg)no-repeat center / cover;
}
.content_img016{
  background: url(/assets/img/milkshake/milkshake_3.jpg)no-repeat center / cover;
}

.content_img017{
  background: url(/assets/img/milkshake/milkshake_4.jpg)no-repeat center / cover;
}