.section__showMenu{
  height: 60vh;
  position: relative;
  text-align: center ;
  background: url("/assets/img/cenario-texturizado-de-parede-de-concreto-solido.jpg") no-repeat center/ cover; 
  padding: 5px;
}
