.title__top{
  font-size: 3rem;
  color: var(--colorRed);
  margin-bottom: 15px;
  letter-spacing: 5px;
  font-family: var(--fontMontserrat);
}

.text__top{ 
  font-size: 1.4rem;
  color: var(--colorGray);
  font-family: var(--fontMontserrat);
  width: 70%;
}


.box__text--top{
  padding: 0 10px;
  position: absolute;
  left: 5%;
  top: 3%;

}
@media (min-width:768px){

 
  .title__top{
    font-size: 5rem;
  }
  .box__text--top{
    top: 10%;
  }
  .text__top{
    font-size: 3rem;
    width: 40%;
  }

}

@media (min-width:1024px){

  .title__top{
    font-size: 4rem;
  }
  .box__text--top{
    left: 4%;
    top: 8%;
  }
  .text__top{
    font-size: 5rem;
  }

}


